body {
  font-family: Georgia, Times, serif;
  background-color: gray;}

#main {
  background-color: white;
  margin-left: 100px; margin-right: 100px;
  border: 5px solid black;}

@media screen and (max-width: 400px) {
  #main {
    margin: 0px;}
  #indledning {
    padding: 0px;}
}

#nav {
  font-family: Arial, sans-serif;
  margin: 0px 20px 20px 20px;
  width: 400px;
  border: 1px solid grey;
  background-color: #efefef;
  float: left;}
  #indholsfortegnelse {
    text-align: center;}
  dt, dd {
    text-indent: 10px;
    margin-bottom: 5px;}

#indledning {
  margin-right: 15%;
  max-width: 1000px;
  text-align: justify;
  text-justify: inter-word;}
	
img {
  margin-right: 15%;
  width: 85%;}

#header {
  color: black;
  text-decoration: none;
  font-family: Impact;
  font-size: 23pt;
  letter-spacing: 0.2em;
  font-weight: bold;
  position: fixed;
  top: 0px;
  left: 0px;
  text-align: center;
  padding: 10px;
  margin: 0px;
  background-color: #ffff66;
  width: 100%;
  border-width: 0px 0px 5px 0px;
  border-style: solid;
  border-color: black;}
  #header:active {
    color: black;}
  #header:hover {
    background-color: yellow;}

#credits {
  color: #bfbfbf;
  margin-left: auto;
  margin-right: auto;
  text-align: center;}